<h1>「眼トレ・メントレ・脳トレ」かんたん診断</h1>
<div class="quiz-container">
  <div id="quiz"></div>
</div>
<button id="previous">前の質問</button>
<button id="next">次の質問</button>
<button id="submit">結果</button>
<div id="results"></div>

<script src="index.js"></script>
