<% provide(:class_text, 'new') %>
<% provide(:button_text, '新規作成') %>
<% provide(:id, 1) %>

<div class="diagnosis-forms">
  <div class="container">
    <h1>質問の新規作成</h1>
    <div class="row">
      <%= render 'form' %>
    </div>
  </div>
</div>