<% provide(:class_text, 'edit') %>
<% provide(:button_text, '編集') %>

<div class="diagnosis-results-forms">
  <div class="container">
    <h1>診断結果の編集</h1>
    <div class="row">
      <%= render 'form' %>
    </div>
  </div>
</div>