// Place all the styles related to the Diagnoses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url(https://fonts.googleapis.com/css?family=Work+Sans:300,600);



body #wrapper .ResultA {
	padding: 20px;
	border: 3px solid #f1f1f1;
	box-sizing: border-box;
	margin: 0 auto;
	display: none;
}

body #wrapper .ResultA__recommend {
  text-align: center;
  font-size: 18px;
  margin-bottom: 15px;
  font-weight: bold;
}

body #wrapper .ResultA__Amenu__text {
  font-size: 24px;
  font-weight: bold;
}

body #wrapper .ResultA .image {
  margin-top: 20px;
}

body #wrapper .ResultA__Amenu {
  margin-bottom: 20px;
  text-align: center;
}

body #wrapper .ResultB {
  padding: 20px;
  border: 3px solid #f1f1f1;
  box-sizing: border-box;
  margin: 0 auto;
  display: none;
}

body #wrapper .ResultB__recommend {
  text-align: center;
  font-size: 18px;
  margin-bottom: 15px;
  font-weight: bold;
}

body #wrapper .ResultB__Bmenu__text {
  font-size: 24px;
  font-weight: bold;
}

body #wrapper .ResultB .image {
  margin-top: 20px;
}

body #wrapper .ResultB__Bmenu {
  margin-bottom: 20px;
  text-align: center;
}

body #wrapper .ResultC {
  padding: 20px;
  border: 3px solid #f1f1f1;
  box-sizing: border-box;
  margin: 0 auto;
  display: none;
}

body #wrapper .ResultC__recommend {
  text-align: center;
  font-size: 18px;
  margin-bottom: 15px;
  font-weight: bold;
}

body #wrapper .ResultC__Cmenu__text {
  font-size: 24px;
  font-weight: bold;
}

body #wrapper .ResultC .image {
  margin-top: 20px;
}

body #wrapper .ResultC__Cmenu {
  margin-bottom: 20px;
  text-align: center;
}

body #wrapper .ResultD {
  padding: 20px;
  border: 3px solid #f1f1f1;
  box-sizing: border-box;
  margin: 0 auto;
  display: none;
}
body #wrapper .ResultD__recommend {
  text-align: center;
  font-size: 18px;
  margin-bottom: 15px;
  font-weight: bold;
}

body #wrapper .ResultD__Dmenu__text {
  font-size: 24px;
  font-weight: bold;
}

body #wrapper .ResultD .image {
  margin-top: 20px;
}

body #wrapper .ResultD__Dmenu {
  margin-bottom: 20px;
  text-align: center;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

body #wrapper .question .questions {
  background: #f1f1f1;
  padding: 20px;
  margin: 0 auto;
  box-sizing: border-box;
}

ol, ul {
  list-style: none;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}

body #wrapper .question .questions .textBox {
  margin-bottom: 10px;
}

body #wrapper .question .questions .textBox .text {
  display: inline-block;
  width: 350px;
}

body #wrapper .question button {
  background: #5c90d2;
  width: 250px;
  display: block;
  margin: 20px auto 30px;
  text-align: center;
  padding: 15px 10px;
  font-size: 18px;
  font-weight: bold;
  box-shadow: none;
  color: #fff;
  border: none;
  box-sizing: border-box;
  border-radius: 5px;
  cursor: pointer;
}
