body {
  padding-top: 60px;
  background-image: url('top.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.navbar-toggler {
  margin-left: auto;
}


//表題部分
.section {
  margin-bottom: 50px;
}

.section h1 {
  font-size: 2.5em;
  font-weight: bold;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-bottom: 1em;
  border-top: 3px solid #000;
  border-bottom: 3px solid #000;
  color: #000;
  text-align: center;
}

.icon {
  text-align: center;
}

.icon-content {
  padding: 10px;
  width: auto;
  height: 240px;
}


h2 {
  position: relative;
  overflow: hidden;
  padding: 1.5rem 2rem 1.5rem 130px;
  border: 2px solid #000;
}

h2:before {
  position: absolute;
  top: -150%;
  left: -100px;
  width: 200px;
  height: 300%;
  content: '';
  -webkit-transform: rotate(25deg);
  transform: rotate(25deg);
  background: #000;
}

h2 span {
  font-size: 40px;
  font-size: 4rem;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  display: block;
  padding-top: 3px;
  padding-left: 16px;
  color: #fff;
}

p {
  font-size: 1.25em;
  margin: 0;
  letter-spacing: -0.02em;
  line-height: 1.23em;
  
  @media screen and (min-width: 500px) {
    font-size: 1.7em;
  }
}

/* スクロールCSS */
.fade-in {
  opacity: 0;
  transition-duration: 500ms;
  transition-property: opacity, transform;
}

.fade-in-left {
  transform: translate(-50px, 0);
}

.scroll-in {
  opacity: 1;
  transform: translate(0, 0);
}

//画像配置
.checkeyes {
  text-align: center;
}

//スマホ用
@media screen and (max-width:480px) {

  img { max-width: 100%; }
  .icon-content {
    width: 120px;
    height: 120px;
  }

}


//かんたん診断画面リンクボタン
.home-btn {
  margin-top: 1.5em;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  width: 250px;
  height: 145px;
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: rgb(240, 238, 238);
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.button:hover {
  background-color: #30e29bda;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}
