//TOP全体
body {
  padding-top: 60px;
  background-image: url('top.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

//ハンバーガーメニュー

a{
  text-decoration: none;
  color: #333333;
  }
  
  /*ナビのスタイル*/
  nav.NavMenu{
  position: fixed;
  z-index: 12;
  top: 0;
  left: 0;
  background: #dd5c5c;
  text-align: center;
  width: 100%;
  height: 100%;
  display: none;
  }
  
  nav.NavMenu ul{
  width: 100%;
  margin: 0 auto;
  padding: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  }
  
  nav.NavMenu ul li{
  font-size: 24px;
  list-style-type: none;
  width: 100%;
  padding-bottom: 0px;
  }
  
  nav.NavMenu ul li:last-child{
  padding-bottom: 0;
  }
  
  nav.NavMenu ul li a{
  display: block;
  color: #fff;
  padding: 15px 0;
  font-weight: bold;
  font-size: 18px;
  }
  
  /*ボタンのスタイル*/
  .Toggle {
  position: fixed;
  right:18px;
  top: 3px;
  width: 45px;
  height: 45px;
  cursor: pointer;
  z-index: 13;
  display: block;
  }
  
  .Toggle span {
  display: block;
  position: absolute;
  width: 35px;
  border-bottom: solid 4px #C1C1C1;
  -webkit-transition: .35s ease-in-out;
  -moz-transition: .35s ease-in-out;
  transition: .35s ease-in-out;
  left: 6px;
  }
  
  .Toggle span:nth-child(1) {
  top: 9px;
  }
  
  .Toggle span:nth-child(2) {
  top: 20px;
  }
  
  .Toggle span:nth-child(3) {
  top: 31px;
  }
  
  .Toggle.active span:nth-child(1) {
  top: 18px;
  left: 6px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  transform: rotate(-45deg);
  border-bottom: solid 3px #C1C1C1;
  }
  .Toggle.active span:nth-child(2),
  .Toggle.active span:nth-child(3) {
  top: 18px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
  border-bottom: solid 3px #C1C1C1;
  }

//表題部分
.section {
  margin-bottom: 50px;
}

.section h1 {
  font-size: 2.5em;
  font-weight: bold;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-bottom: 1em;
  border-top: 3px solid #000;
  border-bottom: 3px solid #000;
  color: #000;
  text-align: center;
}

//画像部分

.icon-content {
  margin-left: auto;
  padding: 10px;
  width: auto;
  height: 200px;
}

//項目中身
.section-content {
  margin-top: 1em;
  margin-bottom: 3em;
  display:flex;
  max-width: auto;
  height: 200px;
}

h2 {
  position: relative;
  padding: 1rem 2rem 1rem 4em;
  background: #fff;
}

h2 span {
  position: absolute;
  top: -10px;
  left: 20px;
  display: inline-block;
  width: 52px;
  height: 50px;
  text-align: center;
  background: #fa4141;
}

h2 span:before,
h2 span:after {
  position: absolute;
  content: '';
}

h2 span:before {
  right: -10px;
  width: 0;
  height: 0;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #d90606;
}

h2 span:after {
  top: 50%;
  left: 0;
  display: block;
  height: 50%;
  border: 1em solid #fa4141;
  border-bottom-width: 15px;
  border-bottom-color: transparent;
}

p {
  font-size: 1.25em;
  margin: 0;
  letter-spacing: -0.02em;
  line-height: 1.5em;
  
  @media screen and (min-width: 500px) {
    font-size: 1.7em;
  }
}

//スクロールフェードイン
.fade-in {
  opacity: 0;
  transition-duration: 500ms;
  transition-property: opacity, transform;
}

.fade-in-left {
  transform: translate(-50px, 0);
}

.scroll-in {
  opacity: 1;
  transform: translate(0, 0);
}

//画像配置
.checkeyes {
  text-align: center;
}

//スマホ用
@media screen and (max-width:480px) {

  img { max-width: 100%; }
  .icon-content {
    width: 120px;
    height: 120px;
  }

}


//かんたん診断画面リンクボタン
.home-btn {
  margin-top: 1.5em;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  width: 250px;
  height: 145px;
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: rgb(240, 238, 238);
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.button:hover {
  background-color: #fa4141;
  // box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}
